@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz@6..72&display=swap');
:root{
    --cor1: #3c5c9c;
    --cor2: #fbebec;
    --cor3: #3c649c;
    --cor4: #6179ac;
    --cor5: #b0b2c6;
}

body{
    background-color: #fbebec;
    font-family: 'Newsreader', 'serif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;

    margin:  0 auto;
}
h1{
    margin: auto;
    color: var(--cor1);
}

.geral{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    height: 69vh;
    width: 80vw;
    margin: 10px;
    margin-left: 10vw;

    background-color: var(--cor1);
    color: var(--cor2);
}
input{
    height: 6vh;
    border-radius: 25px;
}

.cad{
    display:flex;
    align-items: row;
}

.l{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nome{
    width: 45vw;
}
.cpf{
    width: 15vw;
}
.data{
    width: 20vw ;
}
.tel{
    width: 30vw;
}
.end{
    width: 70vw;
}
.peso{
    width: 33vw;
}
.alt{
    width: 32vw;
}
button{
    width: 10vw;
    background-color: var(--cor2);
    color: var(--cor1);
    font-size: 30px ;
    border-radius: 30px;
}
